@import url(colors.css);

#test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3.5rem 0;
}

.titulos-exercicios {
    color: var(--branco);
    margin-bottom: 3.5rem;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.titulos-exercicios::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px; 
    width: 80%; 
    height: 4px;
    background-color: var(--azul-claro);
    transform: translateX(-50%); 
    border-radius: 1rem;
}


.slider {
    position: relative;
    width: 100%;
    height: 28.3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item {
    position: absolute;
    width: 400px;
    height: 430px;
    border-radius: 10px;
    padding: 40px 30px;
    transition: 0.5s;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--containers);;
}

#next, #prev {
    position: absolute;
    top: 50%;
    color: var(--azul-escuro);
    background-color: transparent;
    border: none;
    font-size: 1rem;
    left: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 550;
    background-color: var(--azul-claro);
}

#next {
    left: unset;
    right: 10rem;
}



/* formatação */


.l1-ex1, .l1-ex2, .l1-ex3, .l1-ex4, .l1-ex5, .l1-ex6, .l1-ex7, .l1-ex8, .l1-ex9, .l1-ex10, .l1-ex11, .l1-ex12, .l2-ex1, .l2-ex2,
.l2-ex3, .l2-ex4, .l2-ex6, .l2-ex7, .l2-ex5, .l2-ex8, .l2-ex9, .l2-ex10, .l2-ex11, .l2-ex12, .l2-ex13, .l3-ex1, .l3-ex2, .l3-ex3,
.l3-ex4, .l3-ex5, .l3-ex6, .l3-ex7, .l3-ex8, .l3-ex9 {

    .botao {
        width: 30%;
        height: 2rem;
        font-size: 1rem;
        border: 0;
        border-radius: 0.5rem;
        background-color: var(--azul-escuro);
        color: var(--branco);
        cursor: pointer;

    }

    label {
        font-size: 1rem;
        color: var(--texto);
    }

    input[type="number"], input[type="text"] {
        border-radius: 0.5rem;
        height: 1.8rem;
        width: 100%;
        border: 0;
        outline: none;
        font-size: 1rem;
        padding: 0.7rem;
        background-color: var(--cor-destaque);
    }

    h3 {
        font-size: 1.5rem;
        color: var(--branco);
    }

    h6 {
        font-size: 1.1rem;
        font-weight: 500;
    }

    p, h6 {
        color: var(--texto);
    }

    p {
        height: 1rem;
        text-align: center;
    }

    .exercicio_e_descricao {
        text-align: center;
    }

    textarea {
        border-radius: 0.5rem;
        height: 8rem;
        width: 350px;
        border: 0;
        outline: none;
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
        background-color: var(--cor-destaque);
        resize: none;
    }

    textarea[placeholder]::placeholder, input[placeholder]::placeholder {
        color: var(--preto);
    }

    select {
        background-color: var(--cor-destaque);
        color: var(--preto);
        font-size: 16px;
        padding: 8px 15px;
        border: none;
        border-radius: 4px;
    }
    
    select:focus {
        outline: none;
        border: none;
    }
}

.l2-ex7, .l3-ex3, .l3-ex5, .l3-ex8, .l3-ex9 {
    p {
        height: 4rem;
    }

    .exercicio_e_descricao {
        margin-bottom: 50px;
    }
}

#l1-ex1-input, #l1-ex3-input, #l1-ex5-input, #l1-ex6-input, #l1-ex7-input, #l1-ex9-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
}

#l1-ex2-input, #l1-ex4-input, #l1-ex8-input, #l1-ex11-input, #l1-ex12-input, #l2-ex2-input, #l2-ex6-input,
#l2-ex7-input, #l2-ex5-input, #l2-ex3-input, #l2-ex4-input, #l2-ex8-input, #l2-ex9-input, #l2-ex10-input, #l2-ex11-input, 
#l3-ex1-input, #l3-ex2-input, #l3-ex3-input, #l3-ex4-input, #l3-ex5-input, #l3-ex6-input, #l3-ex7-input, #l3-ex8-input,
#l3-ex9-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
}

#l1-ex10-input, #l2-ex1-input, #l2-ex12-input, #l2-ex13-input, #l2-ex9-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17rem;
    align-items: center;
}

.btns-calculadora {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
 
.btn-calculadora {
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    cursor: pointer;
    font-size: 1.3rem;
}

.test {
    display: grid;
    grid-template-columns: 65% 100%;
    column-gap: 0.5rem;
}


/* Responsivo */
/* 
@media (min-width: 1920px) {
    
    .title {
        font-size: 4rem;
    }

    .slider {
        height: 40.625rem;
    }

    .item {
        width: 550px;
        height: 650px;     
    }

    #test {
        margin: 9.5rem 0;
    }

    #next, #prev {
        font-size: 1.3rem;
        padding: 0.5rem 1.6rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .ex1, .ex2, .ex3, .ex4, .ex5, .ex6, .ex7, .ex8 {
    
        #button {
            width: 30%;
            height: 2.5rem;
            font-size: 1.3rem;
        }
    
        label {
            font-size: 1.3rem;
        }
    
        input[type="number"] {

            height: 2.5rem;

        }
    
    }

    .ex1 form, .ex3 form, .ex5 form, .ex6 form, .ex7 form {
        height: 16rem;
    }
    
    .ex2 form, .ex4 form, .ex8 form {
        height: 9rem;
    }
} */